<div class="container mx-auto flex flex-col justify-between grow p-4 h-full">
  <section class="flex flex-col gap-4">
    <h1 class="text-gray-50 text-center text-4xl">Preparation screen</h1>
    <button class="btn bg-red-500 hover:opacity-95">shop</button>
    <button class="btn bg-yellow-500 hover:opacity-95">status</button>
    <button class="btn bg-blue-500 hover:opacity-95" (click)="goToInventory()">
      inventory
    </button>
  </section>
  <button class="btn bg-green-500 hover:opacity-95">fight</button>
</div>
