.heart-icon {
  background-image: url("../../assets/heart.png");
}
.scroll-icon {
  background-image: url("../../assets/scroll.png");
}
.sword-icon {
  background-image: url("../../assets/sword.png");
}
.helmet-icon {
  background-image: url("../../assets/helmet.png");
}
