<div [ngSwitch]="name" class="aspect-square w-16">
  <div
    *ngSwitchCase="'scroll'"
    class="aspect-square w-16"
    [title]="alt">
    <img src="/assets/scroll.png" alt="">
  </div>
  <div
    *ngSwitchCase="'heart'"
    class="aspect-square w-16"
    [title]="alt">
    <img src="/assets/heart.png" alt="">
  </div>
  <div
    *ngSwitchCase="'sword'"
    class="aspect-square w-16"
    [title]="alt">
    <img src="/assets/sword.png" alt="">
  </div>
  <div
    *ngSwitchCase="'helmet'"
    class="aspect-square w-16"
    [title]="alt">
    <img src="/assets/helmet.png" alt="">
  </div>
</div>
