<div [ngSwitch]="name" class="aspect-square w-16 [&>div>img]:text-gray-50">
  <div *ngSwitchCase="'scroll'" class="aspect-square w-16" [title]="alt">
    <img
      src="https://faboborgeslima.github.io/rpg/assets/scroll.png"
      [alt]="alt"
    />
  </div>
  <div *ngSwitchCase="'heart'" class="aspect-square w-16" [title]="alt">
    <img
      src="https://faboborgeslima.github.io/rpg/assets/heart.png"
      [alt]="alt"
    />
  </div>
  <div *ngSwitchCase="'sword'" class="aspect-square w-16" [title]="alt">
    <img
      src="https://faboborgeslima.github.io/rpg/assets/sword.png"
      [alt]="alt"
    />
  </div>
  <div *ngSwitchCase="'helmet'" class="aspect-square w-16" [title]="alt">
    <img
      src="https://faboborgeslima.github.io/rpg/assets/helmet.png"
      [alt]="alt"
    />
  </div>
  <div *ngSwitchCase="'coin'" class="aspect-square w-16" [title]="alt">
    <img
      src="https://faboborgeslima.github.io/rpg/assets/coin.png"
      [alt]="alt"
    />
  </div>
</div>
