<main class="flex flex-col justify-between p-4 h-full grow">
  <div class="flex flex-col gap-4 text-center mx-auto w-full sm:w-1/2 md:w-1/4">
    <h1 class="text-center text-gray-50 text-4xl">New game</h1>
    <h2 class="text-gray-50 text-xl">Choose your hero's name</h2> 
    <input type="text" class="rounded-md w-full h-12 items-center justify-center bg-black/40 p-2 text-white text-center" placeholder="Insert your name">
    <h2 class="text-gray-50 text-xl">Select your class</h2> 
  </div>
  <div class="bg-black/20 p-4 flex flex-col gap-4 hover:[&_a]:shadow-lg">
    <a
      class="btn bg-red-500 hover:bg-red-500/95"
      >Warrior</a
    >
    <a
      routerLink=""
      class="btn bg-yellow-500 hover:bg-yellow-500/95"
      >Thief</a
    >
  </div>
</main>  