<div
  class="w-full h-full md:grid md:grid-cols-2 transition-all backdrop-brightness-50 z-50"
>
  <button class="w-full h-full hidden md:block" (click)="closeMenu()"></button>
  <div class="backdrop-brightness-75 flex flex-row h-full w-full">
    <button
      (click)="closeMenu()"
      class="h-full p-4 bg-brown-500 text-3xl font-bold text-gray-50"
    ></button>
    <section class="h-full w-full bg-brown-600/90 p-4 flex flex-col gap-4">
      <h1 class="text-center text-4xl text-gray-50">menu</h1>
      <button
        class="btn w-full bg-blue-500 text-lg"
        routerLink="/"
        (click)="closeMenu()"
      >
        return to home (if you're in a battle, all progress will be lost)
      </button>
    </section>
  </div>
</div>
