<main class="flex flex-col justify-start p-4 h-full grow">
  <div
    class="flex flex-col gap-4 text-center mx-auto mb-12 w-full sm:w-1/2 md:w-1/4"
  >
    <h1 class="text-center text-gray-50 text-4xl">Select save</h1>
  </div>
  <div class="bg-black/20 p-4 flex flex-col gap-4 hover:[&_a]:shadow-lg">
    <button
      *ngFor="let player of playerStorageService.all(); index as i"
      class="btn even: hover:opacity-95"
      [class.bg-red-500]="i % 3 == 0"
      [class.bg-yellow-500]="i % 3 == 1"
      [class.bg-blue-500]="i % 3 == 2"
      (click)="changeScreen(player.id.toString())"
    >
      Save {{ player.id }}
    </button>
  </div>
</main>
