<section class="flex flex-col justify-between px-4 gap-4">
  <header class="py-2">
    <h1 class="flex justify-center items-center text-gray-50 text-2xl">
      Floor {{ floor }}
    </h1>
  </header>

  <app-life-bar [entity]="mob" color="red"></app-life-bar>

  <section class="w-4/5 xl:w-3/5 mx-auto bg-black/20">
    <p class="text-white text-center">{{ lastMobAction }}!</p>
    <img
      [src]="mob.image"
      alt=""
      class="aspect-video w-[90vmin] object-cover mx-auto"
    />
  </section>

  <app-life-bar [entity]="player" color="red"></app-life-bar>

  <footer class="grid grid-cols-2 grid-rows-2 uppercase gap-4 pb-4">
    <button
      class="btn bg-red-500 hover:opacity-95"
      (click)="player.nextActionType = 'attack'; onRound()"
    >
      Attack ({{ (player.getStrikeChance() * 100).toFixed(0) }}%)
    </button>
    <button
      class="btn bg-yellow-500 hover:opacity-95"
      (click)="player.nextActionType = 'defense'; onRound()"
    >
      Defense
    </button>
    <button
      class="btn bg-blue-500 hover:opacity-95 col-span-2"
      (click)="player.nextActionType = 'run'; onRound()"
    >
      Run ({{ (player.getRunAwayChance(mob) * 100).toFixed(0) }}%)
    </button>
  </footer>
</section>
