<section class="flex flex-col justify-between h-[calc(100svh-20rem)] px-4 gap-4">
    <header class="grow-0">
        <h1 class="flex justify-center items-center text-gray-50 text-2xl">Floor x</h1>
    </header>
    <app-life-bar class="bg-black/20 px-2 py-4 rounded-md"></app-life-bar>
    <!-- <section class="basis-8 grow-0 bg-black/20">
    </section> -->
    <section class="basis-48 grow bg-black/20">
        <img src="../../assets/monster.jpg" alt="">
    </section>
    <section class="basis-8 grow-0 bg-black/20">
        LIFE BAR
    </section>
    <footer class="grid grid-cols-2 grid-rows-3 uppercase gap-4 grow-0">
        <button class="btn bg-red-500 hover:opacity-95">Attack</button>
        <button class="btn bg-yellow-500 hover:opacity-95">Defense</button>
        <button class="btn bg-blue-500 hover:opacity-95">Run</button>
        <button class="btn bg-green-500 hover:opacity-95">Items</button>
        <a href="" class="btn col-span-2 bg-gray-500 hover:opacity-95">Exit</a>
    </footer>
</section>  