<main class="p-4">
  <div class="mx-auto w-full sm:w-1/2 aspect-square md:w-1/4">
    <span class="text-center text-gray-50">tales of arda</span>
  </div>
  <div class="bg-black/20 p-4 flex flex-col gap-4 hover:[&_a]:shadow-lg">
    <a
      routerLink=""
      class="uppercase p-4 bg-red-500 hover:bg-red-500/95 text-center text-gray-50 text-lg w-full lg:w-1/2 mx-auto shadow-md rounded-sm shadow-black transition-[300ms]"
      >new game</a
    >
    <a
      routerLink=""
      class="uppercase p-4 bg-yellow-500 hover:bg-yellow-500/95 text-center text-gray-50 text-lg w-full lg:w-1/2 mx-auto shadow-md rounded-sm shadow-black transition-[300ms]"
      >load</a
    >
    <a
      routerLink=""
      class="uppercase p-4 bg-green-500 hover:bg-green-500/95 text-center text-gray-50 text-lg w-full lg:w-1/2 mx-auto shadow-md rounded-sm shadow-black transition-[300ms]"
      >about</a
    >
  </div>
</main>
