<main class="p-4">
  <div
    class="mx-auto aspect-square md:w-1/3 lg:w-1/4 bg-no-repeat w-4/5 sm:w-1/2 p-4"
  >
    <div class="logo w-full aspect-square"></div>
  </div>
  <div class="bg-black/20 p-4 flex flex-col gap-4 hover:[&_a]:shadow-lg">
    <a routerLink="/new-game" class="btn bg-red-500 hover:bg-red-500/95"
      >new game</a
    >
    <a routerLink="/load-game" class="btn bg-yellow-500 hover:bg-yellow-500/95"
      >load</a
    >
    <a routerLink="" class="btn bg-green-500 hover:bg-green-500/95">about</a>
  </div>
</main>
